/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-2 .large-header {
	background-image: url('../img/demo-2-bg.jpg');
	background-position: center bottom;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-2 .main-title {
	font-weight: normal;
	font-size: 2.5em;
	padding-left: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	text-align: center;
}

@media only screen and (max-width : 768px) {
	.demo-2 .main-title {
		font-size: 1.5em;
	}
}

@media only screen and (max-width : 400px) {
	.demo-2 .main-title {
	font-size: 0.8em;
	}
}